.center1{
    opacity: 0.85;
    position: relative;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    text-align: center;
    font-size: 40px;
}

